<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="{{ site.url }}/css/foundation.css" />
  <link rel="stylesheet" href="{{ site.url }}/css/custom.css" />
  <script src="{{ site.url }}/js/modernizr.js"></script>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>
<body>
  <div class="site">
    <!-- wrapper, push and footer classes are for sticky footer stuff -->
    <div class="wrapper">
      {{ content }}
      <div class="push"></div>
    </div>
    <div class="footer">{% include footer.html %}</div>   
  </div>
  <script src="{{ site.url }}/js/jquery.js"></script>
  <script src="{{ site.url }}/js/foundation.min.js"></script>
  <script>
  $(document).foundation();
  </script>
</body>
</html>
